openai==1.23.2
pandas==2.2.2
jsonlines==4.0.0
accelerate==0.21.0
peft==0.4.0
bitsandbytes==0.40.2
transformers==4.36.2
trl==0.4.7
seaborn==0.13.2
matplotlib==3.8.4
adapters
datasets==2.19.0
selfcheckgpt==0.1.7
torch==2.2.2
tqdm==4.66.2
